@charset "UTF-8";
/*!
 * ress.css 窶｢ v3.0.1
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

body {
  font-family: "lato","Noto Sans JP ";
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html.is-open {
  overflow-y: hidden;
}

.p-form {
  width: 87%;
  margin: 0 auto;
}

@media (min-width: 960px) {
  .p-form {
    max-width: 800px;
  }
}

.p-form__text {
  color: #e30a0a;
  padding-top: 10px;
  font-size: 14px;
  line-height: 1.21;
}

@media (min-width: 960px) {
  .p-form__text {
    padding-top: 12px;
  }
}

.p-form__box sup {
  font-size: 50%;
}

@media (min-width: 960px) {
  .p-form__box {
    display: flex;
    gap: 24px;
  }
}

.p-form__box__inner .c-text {
  line-height: 1.1;
  font-size: 12px;
  color: #444444;
}

@media (min-width: 960px) {
  .p-form__box__inner .c-text {
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 10px;
  }
}

@media (min-width: 960px) {
  .p-form__box__inner {
    width: 250px;
  }
}

.p-form__box__inner span {
  display: inline-block;
  line-height: 1;
  font-size: 12px;
  color: #444444;
}

@media (min-width: 960px) {
  .p-form__box__inner span {
    font-size: 14px;
  }
}

.p-form__box__inner .p-inpur {
  margin-top: 10px;
}

@media (min-width: 960px) {
  .p-form__box__inner .p-inpur {
    font-size: 14px;
  }
}

.p-form__box__inner .c-select {
  margin-top: 10px;
  position: relative;
}

@media (min-width: 960px) {
  .p-form__box__inner .c-select {
    font-size: 14px;
    width: 250px;
    margin-top: 0;
  }
}

.p-form__box__wrap {
  margin-top: 42px;
}

@media (min-width: 960px) {
  .p-form__box__wrap {
    margin-top: 0;
  }
}

.p-form__inner {
  display: flex;
  align-items: center;
  color: #444444;
}

.p-form__inner sup {
  color: #444444;
  font-size: "Lato";
  list-style: 1.1;
}

@media (min-width: 960px) {
  .p-form__wrap {
    display: flex;
  }
}

.p-form__wrap span {
  font-size: 12px;
  line-height: 1, 1;
  color: #444444;
}

@media (min-width: 960px) {
  .p-form__wrap span {
    font-size: 14px;
  }
}

.p-form__wrap .c-select {
  margin-bottom: 19px;
  margin-top: 10px;
}

.p-form__wrap__text1 {
  color: #969696;
  font-size: 12px;
  margin-top: 8px;
}

@media (min-width: 960px) {
  .p-form__wrap__text1 {
    margin-top: 8px;
  }
}

.p-form__wrap__text2 {
  color: #e30a0a;
  padding-top: 10px;
  font-size: 14px;
  line-height: 1.1;
}

@media (min-width: 960px) {
  .p-form__wrap__text2 {
    margin-top: 4px;
  }
}

.p-form .c-form__text {
  margin-top: 40px;
  text-align: center;
  color: #444444;
  font-size: 14px;
  margin-bottom: 43px;
}

.p-form .c-form__text .pc-br {
  display: none;
}

@media (min-width: 960px) {
  .p-form .c-form__text {
    font-size: 16px;
    margin-top: 80px;
  }
  .p-form .c-form__text .sp-br {
    display: none;
  }
  .p-form .c-form__text .pc-br {
    display: block;
  }
}

@media (min-width: 960px) {
  .p-form .c-form__text {
    margin-bottom: 87px;
  }
}

.p-form .c-button {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  margin-top: 68px;
  margin: 68px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 960px) {
  .p-form .c-button {
    width: 300px;
    margin-top: 108px;
  }
}

.p-form__service {
  margin-top: 11px;
  padding-top: 16px;
  padding-left: 12px;
  padding-bottom: 12px;
  display: flex;
  background-color: #f8f8f8;
  width: 327px;
}

@media (min-width: 960px) {
  .p-form__service {
    margin-top: 16px;
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
  }
}

.p-form__service img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

@media (min-width: 960px) {
  .p-form__service img {
    width: 133px;
    height: 133px;
  }
}

.p-form__service__wrap {
  margin-left: 16px;
}

.p-form__service__wrap h3 {
  margin-top: 10px;
  line-height: 1.2;
  font-size: 14px;
  font-weight: 500;
}

@media (min-width: 960px) {
  .p-form__service__wrap h3 {
    margin-top: 15px;
    font-size: 22px;
  }
}

.p-form__service__wrap .c-form {
  margin-top: 6px;
  color: #707070;
  line-height: 1.1;
  font-size: 12px;
}

@media (min-width: 960px) {
  .p-form__service__wrap .c-form {
    margin-top: 16px;
    font-size: 16px;
  }
}

.p-form .c-form__part {
  text-align: center;
  align-items: center;
  padding-top: 2px;
  color: #FF8A00;
  width: 86px;
  background-color: #ffffff;
  height: 20px;
  line-height: 1, 2;
  border: solid 1px #FF8A00;
  margin-top: 8px;
  display: inline-block;
  font-size: 10px;
}

@media (min-width: 960px) {
  .p-form .c-form__part {
    font-size: 12px;
    width: 116px;
    height: 23px;
    margin-top: 19px;
  }
}

.p-form .c-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  box-sizing: border-box;
  position: relative;
  padding-left: 10px;
  color: #444444;
}

@media (min-width: 960px) {
  .p-form .c-title {
    font-size: 22px;
  }
}

.p-form .c-title:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 3px;
  height: 26px;
  border-radius: 2px;
  background-color: #444444;
}

.p-form__child {
  color: #444444;
}

.p-form__ok {
  width: 327px;
  margin: 0 auto;
}

@media (min-width: 960px) {
  .p-form__ok {
    width: 1024px;
    max-width: 1024px;
  }
}

.p-form__ok .c-form__text {
  font-family: "Noto Sans JP";
  color: #444444;
  font-size: 14px;
  margin-bottom: 38px;
  margin-top: 40px;
}

@media (min-width: 960px) {
  .p-form__ok .c-form__text {
    font-size: 16px;
    margin-bottom: 85px;
    margin-top: 80px;
  }
}

.p-form__ok .c-button__2 {
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  border-radius: 25px;
  height: 50px;
  font-family: "Noto Sans JP";
  background-color: #fff;
  border: solid 1px #ff8a00;
  color: #ff8a00;
  position: relative;
  display: block;
  margin: 48px auto 0 auto;
  width: 327px;
}

@media (min-width: 960px) {
  .p-form__ok .c-button__2 {
    width: 300px;
    margin-top: 88px;
  }
}

.p-form__ok .c-button__2 img {
  position: absolute;
  top: 45%;
  right: 10%;
}

.p-form__ok .c-img {
  margin-top: 11px;
}

@media (min-width: 960px) {
  .p-form__ok .c-img {
    margin-top: 0;
  }
}

.p-form__ok .u-margin__11 {
  margin-top: 24px;
}

@media (min-width: 960px) {
  .p-form__ok .u-margin__11 {
    margin-top: 0;
  }
}

.p-form__ok__wrap {
  width: 327px;
  margin: 0 auto;
}

@media (min-width: 960px) {
  .p-form__ok__wrap {
    display: flex;
    gap: 32px;
    width: 1024px;
    margin: 29px auto 0 auto;
  }
}

.p-form .c-title {
  font-family: "Noto Sans JP ";
}

.p-form__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media (min-width: 960px) {
  .p-form__image {
    margin-bottom: 87px;
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
}

.p-form .p-breadcrumb {
  margin-top: 43px;
  font-family: "Noto Sans JP ";
}

@media (min-width: 960px) {
  .p-form .p-breadcrumb {
    margin-top: 83px;
  }
}

.p-input {
  position: relative;
}

@media (min-width: 960px) {
  .p-input {
    width: 388px;
  }
}

.p-input::after {
  content: "必須";
  position: absolute;
  display: block;
  color: #e30a0a;
  top: 30%;
  right: 5%;
  font-weight: bold;
  font-size: 10px;
}

@media (min-width: 960px) {
  .p-input::after {
    font-size: 10px;
    top: 35%;
  }
}

.p-input img {
  position: absolute;
  top: 24px;
  right: 16px;
}

@media (min-width: 960px) {
  .p-input img {
    left: 222px;
  }
}

.c-input, .c-select {
  padding-left: 16px;
  position: relative;
  border-radius: 5px;
  width: 100%;
  background-color: #fff9ea;
  display: block;
  height: 56px;
}

@media (min-width: 960px) {
  .c-input, .c-select {
    width: 388px;
  }
}

.c-input::placeholder, .c-select::placeholder {
  font-size: 16px;
  font-family: "Lato";
}

@media (min-width: 960px) {
  .c-input::placeholder, .c-select::placeholder {
    font-size: 14px;
  }
}

.c-input__textarea {
  padding: 16px 16px 0 16px;
  height: 487px;
  width: 100%;
  background-color: #fff9ea;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.035em;
}

@media (min-width: 960px) {
  .c-input__textarea {
    height: 197px;
  }
}

.c-input__textarea::placeholder {
  letter-spacing: 0.035em;
  line-height: 2;
  font-size: 14px;
}

.c-input__sub {
  text-align: center;
  background-color: #fff9ea;
  width: 99px;
  height: 56px;
  border-radius: 5px;
  margin-right: 8px;
}

.c-input__sub::placeholder {
  font-size: 16px;
  font-family: "Lato";
}

.c-label {
  font-size: 18px;
  margin-bottom: 8px;
  align-items: center;
  display: flex;
  color: #444444;
  height: 26px;
  line-height: 1.2;
  box-sizing: border-box;
  position: relative;
  padding-left: 10px;
  font-family: "Noto Sans JP";
  font-weight: 500;
  margin-top: 44px;
}

@media (min-width: 960px) {
  .c-label {
    font-size: 22px;
    margin-bottom: 11px;
    margin-top: 60px;
  }
}

.c-label:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 3px;
  height: 26px;
  border-radius: 2px;
  background-color: #444444;
}

@media (min-width: 960px) {
  .c-label:before {
    height: 32px;
  }
}

.p-check {
  text-align: center;
  align-items: center;
  height: 100%;
  margin: 24px auto 24px auto;
  width: 327px;
}

@media (min-width: 960px) {
  .p-check {
    margin-top: 0;
  }
}

.p-check__text {
  text-align: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  width: 327px;
}

.p-check__text .c-button {
  width: 100%;
  border-radius: 25px;
  height: 50px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 40px;
  position: relative;
  background: linear-gradient(60deg, #ff8a00 0%, #ffbd27 100%);
}

@media (min-width: 960px) {
  .p-check__text .c-button {
    margin-top: 0;
  }
}

.p-check__text .c-button__2 {
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  border-radius: 25px;
  height: 50px;
  background-color: #fff;
  border: solid 1px #ff8a00;
  color: #ff8a00;
  position: relative;
  margin-top: 16px;
}

@media (min-width: 960px) {
  .p-check__text .c-button__2 {
    width: 300px;
  }
}

.p-check__text .c-button__2 img {
  position: absolute;
  top: 45%;
  right: 10%;
}

@media (min-width: 960px) {
  .p-check__text .c-button {
    margin-top: 71px;
    width: 300px;
  }
}

.p-check__text .c-button img {
  position: absolute;
  top: 45%;
  right: 10%;
}

.p-check p {
  color: #e30a0a;
  font-size: 14px;
  margin-top: 12px;
  line-height: 1.2;
}

@media (min-width: 960px) {
  .p-check {
    margin-top: 16px;
  }
}

.p-check__label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-check__box {
  height: 92px;
}

.p-check .c-button {
  width: 100%;
  border-radius: 25px;
  height: 50px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  background: linear-gradient(60deg, #ff8a00 0%, #ffbd27 100%);
}

.p-check .c-button__2 {
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  border-radius: 25px;
  height: 50px;
  background-color: #fff;
  border: solid 1px #ff8a00;
  color: #ff8a00;
  position: relative;
  margin-top: 16px;
}

.p-check .c-button__2 img {
  position: absolute;
  top: 45%;
  right: 10%;
}

@media (min-width: 960px) {
  .p-check .c-button {
    margin-top: 82px;
    width: 300px;
  }
}

.p-check .c-button img {
  position: absolute;
  top: 45%;
  right: 10%;
}

.checkbox-input {
  display: none;
}

.checkbox-parts {
  padding-left: 30px;
  position: relative;
  margin-right: 20px;
  font-size: 14px;
  align-items: center;
  line-height: 1.8;
}

.checkbox-parts::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #f8f8f8;
}

.checkbox-input:checked + .checkbox-parts::after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 10px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #d01137;
  border-right: 3px solid #d01137;
}

.c-select {
  padding-left: 14px;
  color: #444444;
  font-size: 16px;
  line-height: 1, 1;
  height: 56px;
  font-family: "lato";
}

@media (min-width: 960px) {
  .c-select {
    height: 52px;
  }
}

.c-select::after {
  right: 20%;
}

.u-margin {
  margin-top: 44px;
}

@media (min-width: 960px) {
  .u-margin {
    margin-top: 39px;
  }
}

.u-margin__2 {
  margin-top: 30px;
}

@media (min-width: 960px) {
  .u-margin__2 {
    margin-top: 42px;
  }
}

.u-margin__3 {
  margin-top: 38px;
}

@media (min-width: 960px) {
  .u-margin__3 {
    margin-top: 42px;
  }
}

.u-margin__4 {
  margin-top: 31px;
}

@media (min-width: 960px) {
  .u-margin__4 {
    margin-top: 60px;
  }
}

.u-margin__5 {
  margin-top: 40px;
}

@media (min-width: 960px) {
  .u-margin__5 {
    margin-top: 42px;
  }
}

@media (min-width: 960px) {
  .u-margin__6 {
    margin-top: 60px;
  }
}

.u-margin__8 {
  margin-top: 31px;
}

@media (min-width: 960px) {
  .u-margin__8 {
    margin-top: 42px;
  }
}

.u-margin__9 {
  margin-top: 40px;
}

@media (min-width: 960px) {
  .u-margin__9 {
    margin-top: 58px;
  }
}

.u-margin__10 {
  margin-top: 19px;
}

@media (min-width: 960px) {
  .u-margin__10 {
    margin-top: 0;
  }
}

.u-width {
  width: 327px;
}

@media (min-width: 960px) {
  .u-width {
    width: 250px;
  }
}

.u-positon__2::after {
  display: none;
}

.u-positon::after {
  right: 20%;
}

@media (min-width: 960px) {
  .u-positon::after {
    right: 45%;
  }
}

.p-breadcrumb {
  text-align: center;
  margin: 47px auto 42px auto;
  width: 95%;
}

.breadcrumb__list {
  width: 100%;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

@media (min-width: 960px) {
  .breadcrumb__list {
    justify-content: center;
  }
}

.breadcrumb__item a {
  padding-right: 5px;
  font-size: 12px;
  color: #ff8a26;
}

.breadcrumb__item::after {
  content: ">";
  padding-right: 5px;
  display: inline-block;
}

.breadcrumb__item:last-child::after {
  display: none;
}

.p-box {
  width: 100%;
  height: 487px;
  padding: 16px 16px 0 16px;
  background-color: #f8f8f8;
  margin-top: 8px;
  overflow: auto;
}

.p-box p {
  letter-spacing: 0.035em;
  line-height: 2;
  color: #444444;
}

@media (min-width: 960px) {
  .p-box {
    height: 197px;
  }
}

.p-form__check {
  text-align: center;
  width: 87%;
  margin: 0 auto;
}

@media (min-width: 960px) {
  .p-form__check {
    max-width: 800px;
  }
}

.p-form__check .c-check {
  font-family: "Noto Sans JP ";
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 1.2;
}

@media (min-width: 960px) {
  .p-form__check .c-check {
    font-size: 16px;
    margin-top: 80px;
    margin-bottom: 88px;
  }
}

.p-form__check__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-form__check__wrap img {
  width: 42px;
  height: 42px;
  object-fit: cover;
}

.p-form__check__wrap p {
  font-size: 14px;
  padding-left: 14px;
}

.p-table {
  width: 325px;
  margin: 0 auto;
  border: 1px solid #707070;
  border-top: none;
  border-collapse: collapse;
  color: #444444;
  font-weight: 400;
}

.p-table .p-box {
  margin-top: 0;
  padding: 16px 16px 0 16px;
  line-height: 1.8;
  height: 442px;
}

@media (min-width: 960px) {
  .p-table {
    margin-top: 30px;
    padding: 10px 20px 0 20px;
    max-width: 800px;
    width: 8000px;
    margin: 0 auto;
    margin-top: 50px;
  }
}

.p-table th {
  font-family: "Noto Sans JP ";
  width: 325px;
  font-weight: 400;
  height: 52px;
  border-bottom: solid 1px #707070;
  width: 100%;
  padding: 20px 0 17px 0;
  background-color: #f8f8f8;
  line-height: 1.2;
  display: block;
  font-size: 14px;
  border-top: solid 1px #707070;
}

@media (min-width: 960px) {
  .p-table th {
    display: table-cell;
    width: 247px;
    text-align: center;
  }
}

.p-table .c-table {
  width: 325px;
  padding: 20px 0 0 0;
  display: inline-block;
  text-align: center;
  height: 52px;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 400;
}

@media (min-width: 960px) {
  .p-table .c-table {
    padding-top: 0;
    border: solid 1px #707070;
    text-align: initial;
    display: table-cell;
    text-align: center;
    width: 68%;
  }
}

.p-table .u-heght {
  height: 73px;
}

.p-table .u-heght__2 {
  height: 92px;
}

.p-table .u-heght__3 {
  height: 442px;
  padding: 16px 16px 0 16px;
  margin: 0;
}

@media (min-width: 960px) {
  .p-table .u-heght__3 {
    height: 212px;
    padding: 17px 15px 0 15px;
  }
}

.p-table .u-heght__4 {
  margin: 0;
  width: auto;
  line-height: 1.85;
}

@media (min-width: 960px) {
  .p-table .u-heght__4 {
    width: 100%;
    height: 212px;
    overflow: auto;
  }
}

.p-content {
  width: 325px;
  padding: 20px 0 0 0;
  display: inline-block;
  text-align: center;
  height: 52px;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 400;
}

@media (min-width: 960px) {
  .p-content {
    border-left: solid 1px #707070;
    display: table-cell;
    width: 41%;
  }
}

.p-content__inner {
  width: 72%;
  align-items: center;
  line-height: 1.5;
  height: 63px;
  margin: 0 auto;
  text-align: left;
}

@media (min-width: 960px) {
  .p-content__inner {
    width: 235px;
  }
}

.p-contact__top {
  text-align: center;
  width: 327px;
  margin: 0 auto;
  font-family: "Noto Sans JP ";
}

@media (min-width: 960px) {
  .p-contact__top {
    width: 1024px;
  }
}

.p-contact__top .c-button__2 {
  width: 327px;
  border: solid 1px #ff8a00;
  border-radius: 25px;
  height: 50px;
  position: relative;
}

@media (min-width: 960px) {
  .p-contact__top .c-button__2 {
    width: 300px;
  }
}

.p-contact__top .c-button__2 img {
  position: absolute;
  top: 43%;
  right: 10%;
}

.p-contact__top .c-button__2 a {
  text-decoration: none;
  color: #ff8a00;
}

.p-contact__top .c-contact__text {
  color: #989898;
  margin-top: 40px;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 1.2;
}

@media (min-width: 960px) {
  .p-contact__top .c-contact__text {
    margin-top: 80px;
    font-size: 16px;
  }
}

.p-contact__top .p-breadcrumb {
  margin-top: 43px;
  margin-bottom: 40px;
}

@media (min-width: 960px) {
  .p-contact__top .p-breadcrumb {
    margin-top: 83px;
    margin-bottom: 80px;
  }
}

.p-contact__top .p-breadcrumb .breadcrumb__list {
  justify-content: center;
}

.p-contact__box {
  display: block;
}

@media (min-width: 960px) {
  .p-contact__box {
    display: flex;
    gap: 24px;
  }
}

.p-contact__box .c-button__top {
  height: 125px;
  width: 327px;
  display: block;
  background: linear-gradient(60deg, #ff8a00 0%, #ffbd27 100%);
  margin-top: 8px;
  font-size: 18px;
}

@media (min-width: 960px) {
  .p-contact__box .c-button__top {
    height: 183px;
    width: 325px;
    margin-top: 0;
    font-size: 20px;
  }
}

.p-contact__box .c-button__top a {
  color: #fff;
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */