@import "foundation/reset";
@import "foundation/mixin";
@import "foundation/variable.scss";

@import "foundation/base";
@import "object/project/form";
@import "object/project/input";
@import "object/component/input";
@import "object/component/label";
@import "object/project/check";
@import "object/component/select";
@import "object/utility/margin";
@import "object/utility/width";
@import "object/utility/positon";
@import "object/project/breadcrumb";
@import "object/project/box";

@import "object/project/form__check";
@import "object/project/table";
@import "object/project/content";
@import "object/project/contact";

.gallery {
    width: 100%;
    max-width: 600px;
    // margin: 40px auto;
    margin: 8px auto 0 auto;
    //メイン
    &-slider {
        width: 100%;
        height: auto;
        margin: 0 0 10px 0;

        .swiper-slide {
            width: auto;
            height: 350px;

            img {
                display: block;
                width: auto;
                height: 100%;
                margin: 0 auto;
            }
        }
    }

    //サムネイル
    &-thumbs {
        width: 100%;
        padding: 0;
        overflow: hidden;

        .swiper-slide {
            width: 30px;
            height: 30px;
            text-align: center;
            overflow: hidden;
            opacity: 0.4;
            &-active {
                opacity: 1;
            }

            img {
                width: auto;
                height: 100%;
            }
        }
    }
}
// .swiper-button-prev {
//   background-image: none;
// }

// .swiper-button-prev:before {
//   content: '';
//   display: block;
//   box-sizing: border-box;
//   width: 40px;
//   height: 40px;
// //   border: 3px solid blue;
// //   -webkit-border-radius: 50%;
// //   border-radius: 50%;
// }

// .swiper-button-prev:after {
//   content: '';
//   display: block;
//   width: 15px;
//   height: 15px;
//   border-top: 2px solid fff;
//   border-left: 2px solid blue;
//   -webkit-transform: rotate(-45deg);
//   transform: rotate(-45deg);
//   position: absolute;
//   top: 11px;
//   left: 13px;
// }

// .swiper-button-next {
//   background-image: none;
// }

// .swiper-button-next:before {
//   content: '';
//   display: block;
//   box-sizing: border-box;
//   width: 40px;
//   height: 40px;
// //   border: 3px solid blue;
// //   -webkit-border-radius: 50%;
// //   border-radius: 50%;
//   position: absolute;
//   right: 1px;
// }

// .swiper-button-next:after {
//   content: '';
//   display: block;
//   width: 15px;
//   height: 15px;
//   border-top: 5px solid blue;
//   border-right: 5px solid blue;
//   -webkit-transform: rotate(45deg);
//   transform: rotate(45deg);
//   position: absolute;
//   top: 11px;
//   right: 15px;
// }
/* 前ページ、次ページボタン共通のスタイル */
// .swiper-button-prev,
// .swiper-button-next {
// 	background-image: none; /* デフォルトのボタン画像を消す */
// 	width: 28px; /* ボタンの幅 */
// 	height: 86px; /* ボタンの高さ */
// 	margin-top: -43px; /* 縦中央配置用：ボタンの高さの半分のネガティブマージン（top:50%がすでに設定されている） */
// }
// /* 前ページボタンのスタイル */
// .swiper-button-prev:before {
// 	font-family: "Font Awesome 5 Free";
// 	content: "\f100"; /* angle-double-leftのUnicode */
// 	font-size: 48px;
// 	color: #ffefd5;
// }
// /* 次ページボタンのスタイル */
// .swiper-button-next:before {
// 	font-family: "Font Awesome 5 Free";
// 	content: "\f101"; /* angle-double-rightのUnicode */
// 	font-size: 48px;
// 	color: #ffefd5;
// }

.p-service {
    font-family: "Noto Sans JP ";
    width: 375px;
    margin: 0 24px;

    // margin: 0 24px 0 24px;
    p {
        line-height: 2.5;
        
        span {
            font-weight: bold;
            display: inline-block;
            margin-right: 8px;
            line-height: 3;
        }
    }
    h1 {
        font-size:18px ;
        font-weight: bold;
        line-height: 2;
    }
    &__box {
        display: flex;
        gap: 16px;
    }
    .c-button {
        width: 152px;
        height: 34px;
        margin-bottom: 32px;
        border: solid 1px #ff8a26;
        position: relative;
        margin-top: 8px;
        a {
            text-decoration: none;
            color: #ff8a26;
        }
        img {
            position: absolute;
            top: 35%;
            right: 10%;
        }
    }
    &__inner {
        .c-button {
            width: 327px;
            height: 50px;
            background: linear-gradient(60deg, #ff8a00 0%, #ffbd27 100%);
            border: 0;
            position: relative;
            margin-bottom: 0;
            margin-top: 0;
            // margin-left: 24px;

            a {
                color: #fff;
            }
            img {
                position: absolute;
                top: 45%;
                right: 10%;
            }
            &__2 {
                background: #4cc764;
                width: 327px;
                height: 50px;
                border: 0;
                position: relative;
                margin-bottom: 51px;
                margin-top: 8px;
                // margin-left: 24px;
                .c-icon {
                    left: 15%;
                    top: 20%;
                }
            }
        }
    }
}
.c-button {
    // justify-content: center;
    // align-items: center;
    // display: flex;
    border-radius: 25px;
}
.c-single__part {
    text-align: center;
    align-items: center;
    padding-top: 2px;
    color: $base-color;
    width: 97px;
    background-color: #ffffff;
    height: 20px;
    line-height: 1, 2;
    border: solid 1px $base-color;
    // margin-top: 8px;
    display: inline-block;
    font-size: 10px;
    @include breakpoint(pc) {
        font-size: 12px;
        width: 116px;
        height: 23px;
        // margin-top: 19px;
    }
}
.c-single__text {
    font-family: "Noto Sans JP";
    color: #666666;
    font-size: 10px;

    @include breakpoint(pc) {
        font-size: 16px;
    }
}
.p-single {
    width: 375px;
    margin: 0 auto;
    // background-color: green;
    &__wrap {
        display: flex;
        align-items: center;
        padding-top: 30px;
        text-align: left;
        gap: 8px;
        width: 87%;
        margin: 0 auto;
    }
    .p-form {
        .c-title {
            // margin-bottom: 27px;
            margin-bottom: -24px;
        }
        .c-img {
            margin-top: 48px;
        }
    }
}
.p-point {
    h2 {
        font-family: "Noto Sans JP ";
        font-weight: bold;
        font-size: 14px;
        color: $base-color;
        margin-bottom: 10px;
        margin-left: 24px;
        margin-right: 24px;
    }
}
.p-tag {
    h2 {
        font-family: "Noto Sans JP ";
        font-size: 18px;
        font-weight: 500;
        // width: 300px;
        // height: 40px;
        line-height: 1.22;
        box-sizing: border-box;
        position: relative;
        padding-left: 10px;
        margin-left: 24px;
        color: $text-color;
        margin-bottom: 24px;
        @include breakpoint(pc) {
            font-size: 22px;
        }
        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: -4%;
            width: 3px;
            height: 26px;
            border-radius: 2px;
            background-color: $text-color;
        }
    }
    &__wrap {
        background: #f6f6f6;
        height: 188px;
        width: 100%;
        padding-top: 8px;
        padding-left: 24px;
        margin-bottom: 80px;
        button {
            width: 100px;
            height: 33px;
            border-radius: 25px;
            background-color: #fff;
            margin-top: 8px;
            margin-right: 13px;
            a {
                font-size: 10px;
                align-items: center;
                display: flex;
                justify-content: center;
                color: #666666;
            }
        }
    }
}
.p-concept {
    width: 100%;
    height: 224px;
    background-color: #fff9ea;
    padding-top: 24px;
    padding-left: 24px;
    margin-top: 88px;
    padding-right: 24px;
    p {
        font-family: "Noto Sans JP ";
        font-size: 12px;
        color: $text-color;
       
    }
    .c-button {
        width: 327px;
        height: 50px;
        background: linear-gradient(60deg, #ff8a00 0%, #ffbd27 100%);
        border: 0;
        position: relative;
        margin-bottom: 24px;
        margin-top: 14px;
        // margin-left: 24px;

        a {
            color: #fff;
            text-decoration: none;
        }
        img {
            position: absolute;
            top: 45%;
            right: 10%;
        }
    }
}
