
.p-content {
  width: 325px;

  padding: 20px 0 0 0;
  // border-bottom: solid 1px #707070;
  display: inline-block;
  text-align: center;
  height: 52px;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 400;

  @include breakpoint(pc) {
    border-left: solid 1px #707070;

    display: table-cell;
    // padding: 28px 106px 27px 30px;
    width: 41%;

    // padding: 28px 405px 27px 30px;
  }
  &__inner {
    width: 72%;
    align-items: center;
    line-height: 1.5;
    height: 63px;
    margin: 0 auto;
    text-align: left;
    @include breakpoint(pc) {
      width: 235px;
    }
  }
}