.p-input {
  position: relative;

  @include breakpoint(pc) {
    width: 388px;
    // width: 250px;
  }
  &::after {
    content: "必須";
    position: absolute;
    display: block;
    color: #e30a0a;
    top: 30%;
    right: 5%;
    font-weight: bold;
    font-size: 10px;
    @include breakpoint(pc) {
      font-size: 10px;
      top: 35%;
    }
  }
  img {
    position: absolute;
    top: 24px;
    right: 16px;
    @include breakpoint(pc) {
      left: 222px;
    }
  }
}